* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: linear-gradient(120deg, rgb(77, 190, 224), rgb(78, 122, 173));
    min-height: 100vh;
}

header,
form {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input,
form button {
    outline: none;
    border: none;
    background-color: #fff;
    padding: .6rem;
    transition: .3s;
}

form button {
    color: rgb(77, 190, 224);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgb(77, 190, 224);
    color: white;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.todo-list {
    list-style: none;
    width: 80%;
    max-width: 500px;
}

.todo {
    margin: 0.5rem;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-item {
    flex: 1;
    padding: 10px;
    word-break: break-word;
}

.completed-btn,
.trash-btn {
    background: #ff6f47;
    padding: 1rem;
    align-self: stretch;
    outline: none;
    border: none;
    cursor: pointer;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed-btn {
    background: rgb(73, 204, 73);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}